@import "@styles/imports";

button {
  @include button;
  width: 100%;
  border-radius: 8px;
  padding: 16px 0;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &.primary {
    background-color: $primary--blue;
    color: white;
    border: 1px solid $primary--blue;

    &:hover {
      background-color: $primary--blue__medium;
      border: 1px solid $primary--blue__medium;
      color: white;
    }
  }
}

@media only screen and (max-width: $medium-desktop__max) {
  button {
    padding: 14px 0;
  }
}

@media only screen and (max-width: $tablet-portrait__max) {
  button {
    padding: 12px 0;
  }


}