h1 {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin form--field-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin button {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

@mixin link {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0em;
  text-decoration: none;
}

@mixin form-error {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
