@import "@styles/imports";

.error {
  @include form-error;
  color: $primary--red__medium;
  position: absolute;
  opacity: 0;
  top: 48px;
  left: 24px;
  margin: 4px 0 0;
  transition: all 0.2s ease;

  &__visible {
    top: 56px;
    opacity: 100%;
  }
}

/* @media only screen and (max-width: $tablet-landscape__max-width) {
  .error {
    left: 20px;

    &__visible {
      top: 50px;
    }
  }
}
 */
@media only screen and (max-width: $medium-desktop__max-width),
  only screen and (max-height: $medium-desktop__max-height) {
  .error {
    left: 20px;

    &__visible {
      top: 50px;
    }
  }
}

@media only screen and (max-width: $tablet-portrait__max-width),
  only screen and (max-height: $tablet-portrait__max-height) {
  .error {
    left: 16px;

    &__visible {
      top: 40px;
    }
  }
}

@media only screen and (max-width: $mobile__max-width)  and (max-height: $mobile__max-height){
  .error {
    left: 28px;

    &__visible {
      top: 40px;
    }
  }
}
