@import "@styles/imports";

.form {
  &--item {
    position: relative;
    display: block;
    margin-bottom: 36px;
  }

  &--label {
    @include form--field-label;
    position: absolute;
    left: 26px;
    top: 2px;
    transition: all 0.4s ease;
    color: $text--gray__dark;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__focused {
      top: -22px !important;
      left: 26px;
      background: linear-gradient(
        180deg,
        $background--gray__light 50%,
        white 50%
      );
      padding: 0 5px;
      color: $primary--blue !important;
    }
  }

  &--input {
    @include form--field-label;
    transition: all 0.2s ease;
    color: $text--gray__dark;
    display: block;
    width: 90%;
    height: 44px;
    padding: 5px 5%;
    border: 1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    font-size: 102%;
    letter-spacing: 0.8px;

    &:focus {
      outline: none;
      border: 1px solid $primary--blue;
      color: $primary--blue;
    }
  }
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* @media only screen and (max-width: $tablet-landscape__max-width) {
  .form {
    &--item {
      margin-bottom: 30px;
    }

    &--label {
      &__focused {
        left: 15px;
      }
    }

    &--input {
      height: 38px;
    }
  }
} */

@media only screen and (max-width: $medium-desktop__max-width),
  only screen and (max-height: $medium-desktop__max-height) {
  .form {
    &--label {
      &__focused {
        left: 15px;
      }
    }

    &--input {
      height: 38px;
    }
  }
}

@media only screen and (max-width: $tablet-portrait__max-width),
  only screen and (max-height: $tablet-portrait__max-height) {
  .form {
    &--item {
      margin-bottom: 28px;
    }

    &--label {
      &__focused {
        left: 12px;
        top: -16px !important;
      }
    }

    &--input {
      height: 28px;
    }
  }
}

@media only screen and (max-width: $mobile__max-width)  and (max-height: $mobile__max-height){
  .form {
    &--label {
      &__focused {
        left: 22px;
        top: -18px !important;
      }
    }

    &--input {
      height: 28px;
    }
  }
}
