@import "@styles/imports";

.form {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--title {
    margin: 0;
    padding: 104px 0 64px 0;
    text-align: center;
    color: $text--gray__dark;

    &__focused {
      color: $primary--blue;
    }
  }

  &--links {
    &-forgot-password {
      margin-top: 16px;
      display: inline-block;
    }

    &-sign-up {
      @include link;
      margin: auto 0 0 0;
      text-align: center;
    }
  }

  button {
    margin-top: 16px;
  }
}
