@import "@styles/imports";

.title {
  margin: 104px 0 64px 0;
  text-align: center;
  color: $text--gray__dark;

  &__focused {
    color: $primary--blue;
  }
}

.link {
  &--forgot-password {
    @include link;
    cursor: pointer;
    color: $primary--blue;
    margin: 16px 0 0 0;
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
      color: $primary--blue__medium;
    }
  }
}

button {
  margin-top: 16px;
}